<div class="row">
<center>
    <div class="col-md-6"
    <h1>Let's eat some burgers!</h1>

    <h2>Burger Menu</h2>

        <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
        </ul>

        <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
        </ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured Burgers!</label>
        <input type="radio" name="devoured" value="1" checked> Devoured! 
    </div>

    <button type="submit">Add Burger</button>
</form>
</center>
</div>